/*HEADER*/

.header-title .mobile-phone {
    display: none;
}

header .menu-icon {
    display: none;
}

/*MAIN HERO*/
.main-content-wrapper {
    background-image: url("../images/main-background.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.main-content {
    padding: 48px 0 100px;
}

.main-content .main-content-header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.main-content-header-link {
    color: #FFFFFF;
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 8px;
}

.main-content-header-link:not(:first-child) {
    cursor: pointer;
}

.main-content-header-link.hotel-link {
    background-color: #1C1C1C33;
    border-radius: 100px;
    padding: 10px 24px;
    max-width: fit-content;
}

.main-content h1 {
    margin-top: 72px;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 80px;
    line-height: 97px;
    text-align: center;
    text-transform: uppercase;
}

.fadeInUp {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
}

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.main-content-header-text {
    color: #FFFFFF;
    text-align: center;
    display: block;
    font-size: 28px;
    line-height: 42px;
    max-width: 1000px;
    margin: 20px auto 0;
    animation-delay: 300ms;
}

.main-content-header-text a {
    color: #FFFFFF;
    border-bottom: 2px solid #FFFFFF;
    text-wrap: nowrap;
}


/*SEARCHBOX*/

.main-content-searchbox {
    margin-top: 52px;
    border-radius: 16px;
    padding: 24px 32px;
    background-color: #FFFFFF33;
}

.main-content-searchbox .searchbox #form-submit-btn {
    max-width: 200px;
}

.main-content-searchbox .searchbox {
    background-color: initial;
}

.main-content-searchbox .searchbox .section-container {
    padding: 0 !important;
}

.main-content-searchbox #call-btn {
    display: none !important;
}


/*ADVANTAGES*/

.main-advantages-wrapper {
    margin-top: 100px;
}

.main-advantages-wrapper #desktop-text {
    display: block;
}

.main-advantages-wrapper #mobile-text {
    display: none;
}

.about-us-link {
    margin-top: 64px;
    font-weight: 600;
    font-size: 14px;
    line-height: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
}

.about-us-link a {
    border-bottom: 1px solid #178CAD;
    color: #178CAD;
}

.main-advantages-wrapper h2 {
    color: #333333;
    font-size: 28px;
    line-height: 36px;
    text-align: center;
    font-weight: 700;
}

.main-advantages-wrapper span {
    margin-top: 12px;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    text-align: center;
    display: block;
}

.main-advantages-cards {
    margin-top: 56px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 24px;
    grid-row-gap: 64px;
}

.main-advantages-cards .main-advantages-card {
    max-width: 400px;
}

.main-advantages-card .main-advantages-card-icon {
    border: 2px solid #CF0014;
    border-radius: 100px;
    width: 80px;
    height: 80px;
    min-width: 80px;
    min-height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.main-advantages-card .main-advantages-card-icon img {
    width: 32px;
    height: 32px;
}

.main-advantages-card p {
    margin-top: 20px;
    color: #333333;
    font-size: 22px;
    font-weight: 600;
    line-height: 32px;
    text-align: center;
}

.main-advantages-card span {
    display: block;
    margin-top: 10px;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: #333333;
}


/*DESTINATIONS*/

.main-destinations {
    margin-top: 100px;
    border-top: 1px solid #D2D7D8;
    padding: 64px 0;
}

.main-destinations h3 {
    color: #333333;
    font-size: 20px;
    font-weight: 700;
    line-height: 36px;
    text-transform: uppercase;
}

.main-destinations-links {
    margin-top: 28px;
    display: flex;
    flex-wrap: nowrap;
}

.main-destinations-links-item {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    width: 18.6%;
}

.main-destinations-link {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.main-destinations-links-item .main-destinations-link a {
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color: #006E8E;
}

.main-destinations-links-item .main-destinations-link a:hover {
    border-bottom: 1px solid #006E8E;
}

.main-destinations-links-item:not(:first-child) {
    margin-left: 12px;
}

#destinations-mobile {
    display: none;
}

/*FOOTER*/

.footer-main-container {
    border-bottom: 1px solid #5A5A5A;
    margin-bottom: 48px;
    padding-bottom: 48px;
    display: flex;
    overflow: hidden;
}

.footer-info {
    min-width: 33%;
}

.info-wrapper {
    display: flex;
    flex-direction: column;
}

.info-wrapper:nth-child(2) {
    margin-top: 32px;
}

.info-wrapper:nth-child(3) {
    margin-top: 20px;
}

.info-wrapper .info-title {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: #C5C5C5;
}

.info-wrapper .info-link, .info-wrapper .info-text {
    display: inline-block;
    margin-top: 4px;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    color: #FFFFFF;
    text-decoration: none !important;
    width: fit-content;
}

.info-wrapper .info-link:hover {
    text-decoration: underline !important;
}

.socials {
    margin-top: 24px;
    display: flex;
}

.socials a:not(:first-child) {
    margin-left: 8px;
}

.footer-links-container {
    display: flex;
    width: 100%;
}

.footer-links-item {
    width: 34%;
}

.footer-links-item:not(:first-child) {
    margin-left: 24px;
}

.footer-links-item:last-of-type {
    width: fit-content;
    margin-left: auto;
}

.footer-links-item .footer-links-item-title {
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    color: #FFFFFF;
}

.footer-links {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.footer-links a {
    text-decoration: none !important;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: #C5C5C5;
    max-width: fit-content;
    white-space: nowrap;
}

.footer-links a:hover {
    text-decoration: underline !important;
}

.footer-links a:not(:first-child) {
    margin-top: 8px;
}


@media (max-width: 991px) {

    /*FOOTER*/
    .footer-main-container {
        margin-bottom: 32px;
        padding-bottom: 32px;
        flex-direction: column;
    }

    .footer-info {
        min-width: 100%;
    }

    .info-wrapper {
        flex-direction: column;
    }

    .info-wrapper:nth-child(3) {
        margin-top: 16px;
    }

    .socials {
        margin-top: 16px;
    }

    .footer-links-container {
        row-gap: 24px;
        margin-top: 48px;
        flex-wrap: wrap;
        column-gap: 20px;
    }

    .footer-links-item {
        width: calc(50% - 10px);
        min-width: max-content;
    }

    .footer-links-item:not(:first-child) {
        margin-left: 0;
    }

    .footer-links-item:last-of-type {
        width: 100%;
        margin-left: 0;
    }

    .footer-links {
        margin-top: 12px;
    }

    .footer-links a:not(:first-child) {
        margin-top: 6px;
    }

}

@media (max-width: 767px) {
    header .menu-icon, header .close-icon {
        display: inline-flex;
        max-width: 24px;
        justify-content: center;
        align-items: center;
        margin-right: 16px;
        cursor: pointer;
        width: 24px;
        height: 24px;
    }

    .header-title .mobile-phone {
        display: block;
    }

    .header-title .mobile-phone {
        display: block;
    }

    /*MOBILE MENU*/
    .main-mobile-menu {
        padding: 12px 16px;
        position: absolute;
        z-index: 9999;
        top: 56px;
        left: 0;
        background-color: #FFFFFF;
        width: 100%;
        border-top: 1px solid #F1F4F5;
    }

    .main-mobile-menu .main-mobile-menu-item {
        height: 44px;
        display: flex;
        align-items: center;
    }

    .main-mobile-menu .main-mobile-menu-link img {
        margin-right: 10px;
        width: 20px;
    }

    .main-mobile-menu .main-mobile-menu-link {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 14px;
        font-weight: 600;
        line-height: 20px;
        color: #000000;
        max-width: fit-content;
    }

    .main-mobile-menu-item:first-of-type .main-mobile-menu-link {
        color: #CF0014;
    }

    .header-title .header-main-link {
        display: none;
    }

    .main-mobile-menu-links {
        margin-top: 12px;
        padding-top: 20px;
        border-top: 1px solid #F1F4F5;
    }

    .main-mobile-menu-links {
        display: flex;
        flex-direction: column;
    }

    .main-mobile-menu-links .header-main-link {
        color: #003847;
        font-size: 16px;
        font-weight: 600;
        line-height: 24px;
        width: fit-content;
    }

    .main-mobile-menu-links .header-main-link:last-of-type {
        margin-top: 16px;
    }


    /*MAIN HERO*/
    .main-content {
        padding: 48px 0;
    }

    .main-content .main-content-header {
        display: none;
    }

    .main-content h1 {
        margin-top: 0;
        font-size: 32px;
        line-height: 38px;
    }

    .main-content-header-text {
        display: none;
    }


    /*SEARCHBOX*/
    .main-content-searchbox #form-close-btn {
        display: none !important;
    }

    .main-content-searchbox .searchbox #form-submit-btn {
        max-width: 100%;
    }

    .main-content-searchbox {
        margin-top: 36px;
        border-radius: 16px;
        padding: 24px 15px;
        background-color: #FFFFFF33;
    }

    .main-content-searchbox .searchbox #search-form {
        row-gap: 20px;
    }

    .main-content-searchbox .btn-tertiary-outline {
        padding: 4px 0 !important;
        height: 44px;
        gap: 4px !important;
        width: 100%;
        margin-top: 32px;
    }

    .main-content-searchbox #call-btn {
        display: inline-flex !important;
    }

    .main-content-searchbox .btn-tertiary-outline:hover span {
        color: #333333;
    }

    .main-content-searchbox .btn-tertiary-outline:hover svg path {
        fill: #333333;
    }

    .btn-tertiary-outline .text-wrapper {
        display: flex;
        align-items: self-start;
        flex-direction: column;
    }

    .btn-tertiary-outline .text-wrapper span {
        font-size: 14px;
        line-height: 20px;
        font-weight: 600;
        color: #FFFFFF;
    }

    .btn-tertiary-outline .text-wrapper span:last-of-type {
        font-size: 12px;
        font-weight: 400;
        line-height: 16px;
    }


    /*ADVANTAGES*/
    .main-advantages-wrapper {
        margin-top: 64px;
    }

    .main-advantages-wrapper #desktop-text {
        display: none;
    }

    .main-advantages-wrapper #mobile-text {
        display: block;
    }

    .main-advantages-wrapper .about-us-link {
        margin-top: 40px;
    }

    .main-advantages-wrapper h2 {
        font-size: 24px;
    }

    .main-advantages-wrapper span {
        font-size: 16px;
        line-height: 24px;
    }

    .main-advantages-cards {
        margin-top: 40px;
        display: flex;
        flex-direction: column;
        row-gap: 24px;
    }

    .main-advantages-cards .main-advantages-card {
        max-width: 100%;
        display: flex;
        column-gap: 16px;
    }

    .main-advantages-card .main-advantages-card-icon {
        min-width: 64px;
        min-height: 64px;
        width: 64px;
        height: 64px;
    }

    .main-advantages-card .main-advantages-card-icon img {
        width: 22px;
        height: 22px;
    }

    .main-advantages-card p {
        margin-top: 0;
        text-align: left;
    }

    .main-advantages-card span {
        margin-top: 4px;
        text-align: left;
    }


    /*DESTINATIONS*/
    #destinations-desktop {
        display: none;
    }

    #destinations-mobile {
        display: flex;
    }

    .main-destinations {
        margin-top: 56px;
        border-top: none;
        padding: 56px 0 64px;
    }

    .main-destinations-links {
        margin-top: 28px;
        display: flex;
        gap: 20px;
    }

    .main-destinations-links-item {
        width: 50%;
    }

    .main-destinations-links-item:not(:first-child) {
        margin-left: 0;
    }
}


@keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }

    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}
